.mainTitle{
  text-align:center;
  text-shadow: 2px 2px 2px #ccc;
  font-family: 'Nobile',sans-serif, serif ;
}

body {
    display: block;
    margin: 0px;
}

.containerFullScreenImage{

  width = auto;
  height = auto;
  box-sizing: content-box;
  text-align: center;
  font-weight: 700;
  color: white;
  font-size: 40px;
  font-family: 'Open Sans Condensed', sans-serif ;
  padding: 12%;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('disaster-relief.jpg')

}
.text
{
  padding-top: 20px;
  padding-left: 5%;
  padding-right: 5%;
  font-size: 150%;
  font-family: 'Open Sans Condensed', sans-serif;
}
#heading{
background-color: #BA6C1F;
padding: 30px;
color:#6A2C0E;
font-size: 200%;
font-family: 'Rock Salt', cursive;
}
#footer{
text-align: right;
padding: 5px;
background-color: #BA6C1F;
}

h2{
font-family: 'Rock Salt', cursive;
font-size: 25px;
color: FFFFFF;
font-weight: bold;
padding-top: 3%;
padding-bottom: 3%;
}

.containerContent{
  box-sizing: content-box;
  text-align: center;
  font-weight: 250;
  font-family: sans-serif, serif ;
  padding: 7%;
}
